header {
  width: 100%;
  padding: 20px 0;
  background-color: #fff;
}

.navbar {
  display: flex;
  justify-content: flex-start;
  padding: 0 3rem;
  align-items: center
}

.nav-list {
  background-color: red;
  margin-left: 5rem;
  width: 15%;
  display: flex;
  justify-content: space-between;
}
